<section id="password" > 

    <div class="fondo">
        <div *ngIf="!!message">Cambio realizado correctamente</div>
        <form (submit)="changePassword()">

            <div class="form-group">
                <input type="password" name="password1" [(ngModel)]="user.password" placeholder="Contraseña (*)" required>
                <i class="bx bxs-lock-alt"></i>
                <div *ngIf="!user.password && submitted" class="error-message">Este campo es obligatorio</div>
            </div>
            <div class="form-group">
                <input type="password" name="password2" [(ngModel)]="user.password2" placeholder="Confirme Contraseña (*)" required>
                <i class="bx bxs-lock-alt"></i>
            </div>
            <div *ngIf="passwordsNotMatch" class="error-message">
                Las contraseñas no coinciden.
            </div>
            <div>
                <button type="submit" class="guardar-cambios-btn">Guardar cambios</button>
            </div>

        </form>
    </div>
</section>

<!-- 
    <div class="form-group">
        <label for="new-password">Nueva Contraseña:</label>
    <input type="password" id="new-password" name="new-password" required>
</div>
<div class="form-group">
    <label for="confirm-password">Confirmar Nueva Contraseña:</label>
    <input type="password" id="confirm-password" name="confirm-password" required>
</div>
<button type="submit" class="guardar-cambios-btn">Guardar cambios</button> -->