<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>About Us - BetAromas</title>
</head>
<body>
    
    <div class="contactUs">
        <div class="title">
            <h2>Contacto</h2>
        </div>
        <div class="box">
            <div class="contact form">
                <h3>Envíanos tu mensaje</h3>
                <form>
                    <div class="formBox">
                        <div class="row50">
                            <div class="inputBox">
                                <span>Nombre</span>
                                <input type="text" placeholder="Nombre">
                            </div>
                            <div class="inputBox">
                                <span>Apellido</span>
                                <input type="text" placeholder="Apellido">
                            </div>
                        </div>
                        <div class="row50">
                            <div class="inputBox">
                                <span>Email </span>
                                <input type="text" placeholder="Correo Electronio">
                            </div>
                            <div class="inputBox">
                                <span>Teléfono</span>
                                <input type="text" placeholder="+34">
                            </div>
                        </div>
                        <div class="row100">
                            <div class="inputBox">
                                <span>Mensaje </span>
                                <textarea placeholder="Escribe tu mensaje aqui..."></textarea> 
                            </div>
                        </div>
                        <div class="row100">
                            <div class="inputBox">
                                <input type="submit" value="Enviar">
                            </div>
                        </div>       
                    </div>
                </form>
            </div>    
            <div class="contact info">
                <h3>Información</h3>
                <div class="infoBox">
                    <div>
                        <span><i class="fa-solid fa-location-dot"></i></span>
                        <p>Madrid-Getafe<br>ESPAÑA</p>
                    </div>
                    <div>
                        <span><i class="fa-solid fa-map-location-dot"></i></span>
                        
                    </div>
                    <div>
                        <span><i class="fa-solid fa-phone"></i></span>
                        <a href="#">+34 900 100 200</a>
                    </div>
                    <ul class="sci">
                        <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-whatsapp"></i></a></li>
                    </ul>
                </div>
            </div> 

            <div class="contact map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24345.26673233306!2d-3.775690526147429!3d40.2944430634341!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd418a7f2e30571f%3A0x79b8a1a4d543357!2sCRN%20en%20Desarrollo%20Inform%C3%A1tico%20y%20Comunicaciones!5e0!3m2!1ses!2ses!4v1707952183515!5m2!1ses!2ses" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>    
</body>
</html>

