<section id="privacy">
    <div class="container">
        <h1>Política de Privacidad</h1>
        <p>En nuestro e-commerce de perfumes, la privacidad y seguridad de nuestros clientes es de suma importancia para
            nosotros. A continuación, detallamos cómo recopilamos, utilizamos, compartimos y protegemos la información
            personal de nuestros usuarios:</p>

        <ol>
            <li><strong>Información Personal Recopilada:</strong>
                <ul>
                    <li>Para procesar sus pedidos y brindarle un servicio personalizado, podemos recopilar información
                        personal como su nombre, dirección, dirección de correo electrónico, número de teléfono,
                        información de pago, etc.</li>
                </ul>
            </li>

            <li><strong>Uso de la Información Personal:</strong>
                <ul>
                    <li>Utilizamos la información personal recopilada para procesar sus pedidos, enviarle
                        actualizaciones sobre su pedido, responder a sus consultas de servicio al cliente y
                        proporcionarle información relevante sobre nuestros productos y promociones.</li>
                </ul>
            </li>

            <li><strong>Compartir Información Personal:</strong>
                <ul>
                    <li>No vendemos, alquilamos ni compartimos su información personal con terceros no afiliados,
                        excepto cuando sea necesario para procesar sus pedidos, proporcionar servicios de envío o
                        cumplir con la ley.</li>
                </ul>
            </li>

            <li><strong>Seguridad de la Información:</strong>
                <ul>
                    <li>Implementamos medidas de seguridad físicas, electrónicas y administrativas para proteger su
                        información personal contra el acceso no autorizado, la divulgación, el uso indebido y la
                        alteración.</li>
                </ul>
            </li>

            <li><strong>Enlaces a Otros Sitios Web:</strong>
                <ul>
                    <li>Nuestro sitio web puede contener enlaces a otros sitios web que no están bajo nuestro control.
                        No somos responsables de las prácticas de privacidad o el contenido de dichos sitios web
                        enlazados.</li>
                </ul>
            </li>

            <li><strong>Consentimiento:</strong>
                <ul>
                    <li>Al utilizar nuestro sitio web y proporcionarnos su información personal, usted acepta los
                        términos de nuestra política de privacidad y nos otorga su consentimiento para el procesamiento
                        de su información personal de acuerdo con estos términos.</li>
                </ul>
            </li>
        </ol>

        <p>Si tiene alguna pregunta o inquietud sobre nuestra política de privacidad, no dude en ponerse en contacto con
            nuestro equipo de atención al cliente.</p>

        <p>Última actualización: [fecha]</p>
    </div>
</section>