<p>terms-conditions works!</p>
<section id="terms-conditions">
<div class="container">
    <h1>Términos y Condiciones</h1>
    <p>Bienvenido a nuestro e-commerce de perfumes. A continuación, detallamos nuestros términos y condiciones para garantizar una experiencia 
        de compra satisfactoria para nuestros clientes:</p>
    
    <ol>
        <li><strong>Aceptación de los Términos:</strong>
            <ul>
                <li>Al realizar una compra en nuestro sitio web, usted acepta automáticamente estos términos y condiciones en su totalidad. 
                    Le recomendamos que los lea detenidamente antes de realizar cualquier compra.</li>
            </ul>
        </li>
        
        <li><strong>Devoluciones y Cambios:</strong>
            <ul>
                <li>Aceptamos devoluciones y cambios de productos dentro de los primeros 30 días posteriores a la fecha de compra, siempre que el producto 
                    esté en su estado original y sin usar. Los gastos de envío asociados a las devoluciones y cambios serán responsabilidad del cliente.</li>
                <li>Para iniciar una devolución o cambio, el cliente deberá ponerse en contacto con nuestro equipo de atención al 
                    cliente dentro del plazo de 30 días desde la fecha de compra. Se proporcionarán instrucciones adicionales sobre 
                    cómo proceder con la devolución o cambio.</li>
                <li>Los productos devueltos deben estar en su estado original, sin usar y con el embalaje intacto. Nos reservamos el 
                    derecho de rechazar cualquier devolución o cambio que no cumpla con estas condiciones.</li>
            </ul>
        </li>
        
        <li><strong>Devoluciones por Fallos:</strong>
            <ul>
                <li>En caso de que el producto presente algún fallo o defecto de fabricación, ofrecemos la opción de devolución para un reembolso 
                    completo o cambio por un producto de igual valor. El cliente deberá notificar el fallo dentro de los primeros 7 días posteriores 
                    a la recepción del producto.</li>
            </ul>
        </li>
        
        <li><strong>Garantías y Responsabilidades:</strong>
            <ul>
                <li>Todos nuestros productos están garantizados contra defectos de fabricación. Sin embargo, no nos hacemos responsables de los daños causados 
                    por un uso inadecuado, negligencia o mal almacenamiento del producto por parte del cliente.</li>
                <li>No ofrecemos garantías sobre la duración del aroma de nuestros perfumes, ya que esto puede variar según la piel y otros factores ambientales.</li>
            </ul>
        </li>
        
        <li><strong>Política de Precios:</strong>
            <ul>
                <li>Nos reservamos el derecho de ajustar los precios de nuestros productos en cualquier momento sin previo aviso. Sin embargo, cualquier 
                    cambio de precio no afectará a las compras ya realizadas.</li>
            </ul>
        </li>
        
        <li><strong>Privacidad y Protección de Datos:</strong>
            <ul>
                <li>Respetamos la privacidad de nuestros clientes y protegemos sus datos personales de acuerdo con las leyes de protección de datos aplicables. 
                    Para obtener más información, consulte nuestra política de privacidad en nuestro sitio web.</li>
            </ul>
        </li>
        
        <li><strong>Atención al Cliente:</strong>
            <ul>
                <li>Nuestro equipo de atención al cliente está disponible para ayudarlo en cualquier consulta o problema que pueda surgir. Puede ponerse en 
                    contacto con nosotros a través de correo electrónico, teléfono o chat en vivo en nuestro sitio web.</li>
            </ul>
        </li>
        
        <li><strong>Modificaciones de los Términos y Condiciones:</strong>
            <ul>
                <li>Nos reservamos el derecho de modificar estos términos y condiciones en cualquier momento. Las modificaciones entrarán en vigor inmediatamente 
                    después de su publicación en nuestro sitio web. Se recomienda revisar periódicamente esta página para estar al tanto de cualquier cambio.</li>
            </ul>
        </li>
        
        <li><strong>Jurisdicción y Ley Aplicable:</strong>
            <ul>
                <li>Estos términos y condiciones se rigen por las leyes del Estado donde está registrada nuestra empresa. Cualquier disputa que surja en relación c
                    on estos términos estará sujeta a la jurisdicción exclusiva de los tribunales de esa jurisdicción.</li>
            </ul>
        </li>
    </ol>
    
    <p>Al realizar una compra en nuestro e-commerce, usted acepta y está sujeto a estos términos y condiciones. Si tiene alguna pregunta o inquietud, no dude en 
        ponerse en contacto con nuestro equipo de atención al cliente.</p>
    
    <p>Gracias por elegirnos como su destino de compras de perfumes.</p>

</div>
</section>