*{
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* body {
    
} */


.imagen {
    width: 70%;
    margin: 100px auto 0;
    padding: 20px;
    text-align: justify;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.9);
}

.imagen img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.imagen h1 {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 10px;
    filter: drop-shadow(5px 5px 10px rgb(255, 255, 255));
}

.imagen h3 {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
}

.imagen p {
    font-size: 17px;
    line-height: 1.6;
    color: #ffffff;
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .imagen {
        width: 90%;
    }

    .imagen h1 {
        font-size: 30px;
    }

    .imagen h3 {
        font-size: 20px;
    }

    .imagen p {
        font-size: 16px;
    }
}

@media screen and (max-width: 576px) {
    .imagen {
        width: 100%;
    }

    .imagen h1 {
        font-size: 26px;
    }

    .imagen h3 {
        font-size: 18px;
    }

    .imagen p {
        font-size: 15px;
    }
}