<!-- <section class="article">
    <div class="container">
        <h1>{{ article.title }}</h1>
        <img [src]="article.imageArticle" alt="{{ article.title }}" class="article-image">
        <p class="description">{{ article.description }}</p>
        <p class="content">{{ article.article }}</p>
        <p class="description"> Tags: [ {{ article.tags }} ]</p>
    </div>
</section> -->


<body>

<div class=imagen>
    <img [src]="article.imageMini" alt="{{ article.title }}" class="article-image">
    <h1>{{ article.title }}</h1>
    <h3><em>{{ article.description }}</em></h3>
    <p></p>
    <p>{{ article.article }}</p>
    <!-- <p class="description"> Tags: [ {{ article.tags }} ]</p> -->
</div>










</body>
    